# Dependency directories
node_modules/

# Build artifacts
dist/

# Git
.git
.gitignore

# Docker
Dockerfile
compose.yml

# IDE/Editor specific
.idea
.vscode

# Log files
*.log

# Environment files
.env
.env.*
